


<!-- Container -->
<div class="container">
 
<div class="my-account">

        <h3 class="margin-bottom-10 margin-top-10">Login</h3>
         <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

        <form method="post" ng-submit="login()" class="login">

          
          <p class="form-row form-row-wide">
            <label for="username">Username or Email Address:</label>
             <input type="text" class="input-text" name="username" ng-model="loginForm.username" required>
          </p>

          <p class="form-row form-row-wide">
            <label for="password">Password:</label>
            <input type="password" class="input-text" name="password" ng-model="loginForm.password" required>
          </p>

          <p class="form-row">
            <input type="submit" class="button" name="login" value="Login" />

            <label for="rememberme" class="rememberme">
            <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
          </p>

          <p class="lost_password">
            <a href="#" >Lost Your Password?</a>
          </p>

      
        </form>

      </div>
   
</div>

