<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">All jobs <span class="sr-only">(current)</span></a></li>
        <li ><a href="/#/shortlist/">My shortlist <span class="sr-only">(current)</span></a></li>


          <li ><a href="/#/register/">Register<span class="sr-only">(current)</span></a></li>


        <li class="dropdown">
                <a href="" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/settings">Bulk Job import</a></li>
                    <li><a href="#/add">Add single Job</a></li>
                    <!-- <li><a href="#">Sent Items</a></li> -->
                    <li class="divider"></li>
                    <!-- <li><a href="#">Trash</a></li> -->
                </ul>
            </li>

      </ul>

        <span ng-controller="logoutController">


          <ul class="nav navbar-nav navbar-right">

          <li ng-hide="isloggedIn"  <a href="/#/login/" class="btn btn-default">Login</a> </li>

          <span ng-show="isloggedIn">
            <li><a ng-click='logout()' class="btn btn-default">Logout</a></li>
            <li ><a href="#">Current user: <strong> {{ currentuser.username }} </strong></a></li>
          </span>
          </ul>

        </span>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
$(document).ready(function(){
    $(".dropdown-toggle").dropdown('toggle');
});
</script>
