
  <!-- FORM TO CREATE TODOS -->
  <div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1> Edit job</h1>
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <label for="usr">Job Title:</label>
          <input type="text" class="form-control input-lg text-center" placeholder="Job Title" ng-model="job.title">
          <label for="usr">Job Salary:</label>
          <input type="text" class="form-control input-lg text-center" placeholder="Job Salary" ng-model="job.salary">
          <label for="usr">Employer</label>
          <input type="text" class="form-control input-lg text-center" placeholder="Job location" ng-model="job.employer">
          <label for="usr">Job url:</label>
          <input type="text" class="form-control input-lg text-center" placeholder="Job url" ng-model="job.url">
          <label for="usr">Job deadline:</label>
          <input type="text" class="form-control input-lg text-center" placeholder="Job deadline" ng-model="job.deadline">
          <p>
            created at: {{ job.created_at }}
          </p>
        </div>

        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="updateJob()">Update Job</button>
        <button type="submit" class="btn btn-danger btn-lg" ng-click="deleteJob()">Delete Job</button>
      </form>
    </div>
  </div>
